<div class="row mt-5 justify-content-center mb-4">
    <div class="col-10 col-sm-10 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <p class="lead text-center">Bienvenido</p>
        </div>
        <div class="card-body">
          <form #forma2="ngForm">
            <mat-form-field class="form-input">
              <input matInput placeholder="Correo">
            </mat-form-field>
            <mat-form-field class="form-input">
              <input matInput placeholder="Contraseña">
            </mat-form-field>

            <button mat-raised-button style="float: right">Iniciar</button>
            <small (click)="viewRegister()" id="emailHelp" class="form-text text-muted changeForm mb-3">¿No tienes una cuenta? Registrate aquí!</small>
          </form>
        </div>
      </div>
    </div>
</div>
